.mainFeature {
  position: relative;
  margin: $content-padding-main;
  margin-top: -15rem;
  background-color: $color-grey-light-2;
  &__wrapper {
    padding: $content-padding-mainfeatures;
    display: flex;
    flex-direction: column;
  }
}
