.btn {
  &--transparent {
    padding: 1.2rem 2.5rem;
    border: $border-slim-white;
    background-color: transparent;
    color: $color-white;
    border-radius: 5px;
    outline: none;

    &:hover {
      opacity: 0.6;
    }
  }
}
